{% extends "base.html"%}
{% load static %}
{% block content %}
    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span style="opacity: 0.7;"><a href="#contact-us">Свяжитесь с нами</a></span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Контакты</h1>
          </div>
        </div>
      </div>
    </div>
    
    <section class="ftco-section contact-section ftco-degree-bg ftco-animate" id="contact-us">
      <div class="container bg-light">
        <div class="row d-flex mb-5 contact-info text-center">
          <div class="col-md-12 mb-5">
            <h2 class="h4">Контактная информация</h2>
          </div>
          <div class="w-100"></div>
          <div class="col-md-6">
          <p>Телефон:</p> <a href="tel://89969225385">8(996)922-53-85</a>
          </div>
          <div class="col-md-6">
            <p>Email:</p><a href="mailto:nes.agency@yandex.ru">nes.agency@yandex.ru</a>
          </div>
        </div>
        <div class="row block-9 ">
          <div class="col-md-6 pr-md-5">
            <form action="" method="post" id="form1">
              {% csrf_token %}
              <div class="form-group">
                <input id="name1" aria-label="name" type="text" name="name" placeholder="Ваше имя" class="form-control">
                <div class="error text-start fs-6 fw-light"></div>
              </div>
              <div class="form-group">
                <input id="email1" aria-label="email" type="text" name="email" placeholder="Ваш E-mail" class="form-control">
                <div class="error text-start fs-6 fw-light"></div>
              </div>
              <div class="form-group">
                <input id="telephone1" aria-label="telephone" type="text" name="telephone" placeholder="Телефон" class="form-control">
                <div class="error text-start fs-6 fw-light"></div>
              </div>
              <div class="form-group">
                <textarea aria-label="textarea" name="Textarea" id="" cols="30" rows="7" class="form-control" placeholder="Описание вашего проекта"></textarea>
                <div class="error text-start fs-6 fw-light"></div>
              </div>
              <div class="form-group text-center">
                <div class="g-recaptcha mb-5" data-sitekey="6LdDOcspAAAAAJ62pJJ9C8fvCBCUeya5JQ-CsRP9"></div>
                <input type="submit" id="submit-button1" value="Оставить заявку" class="btn btn-primary py-3 px-5 mb-3 mb-md-0 prices-btn">
              </div>
            </form>
          </div>
          <div class="col-md-6 nes-logo">
            <img src="{% static "images/nes_logo.jpg" %}" alt="nes-logo">
          </div>
        </div>
      </div>
    </section>
    {% endblock content%}