
{% extends "base.html"%}
{% load static %}
{% block content %}
    {% if projects %}
    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span>Наши работы</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Портфолио</h1>
          </div>
        </div>
      </div>
    </div>
  
    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row">
          {% for project in projects %}
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="{{ project.link }}" class="block-20" target="_blank" style="background-image: url({{project.preview.url}}); background-position: end;">
              </a>
              <div class="text p-4 d-block">
                <div class="meta">
                  <div>{{project.title}}</div>
                </div>
                <h3 class="heading">{{project.name}}</h3>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% else %}
    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span>Представляем вам</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{project.title}} {{project.name}}</h1>
          </div>
        </div>
      </div>
    </div>
    
    <section class="ftco-section">
      <div class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-4">Разработка {{project.category}} под ключ</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="{{ project.link }}" class="image" target="_blank" style="background: url({{project.img1.url}}); background-position: center;" data-scrollax=" properties: { translateY: '-20%'}">
            </a>
            <div class="text">
              <h4 class="subheading">Дизайн</h4>
              <p>{{project.description1}}</p>
            </div>
          </div>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="{{ project.link }}" class="image image-2 order-2" target="_blank" style="background: url({{project.img2.url}}); background-position: center;" data-scrollax=" properties: { translateY: '-20%'}"></a>
            <div class="text order-1">
              <h4 class="subheading">Логика сайта</h4>
              <p>{{project.description2}}</p>
            </div>
          </div>
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="{{ project.link }}" class="image" target="_blank" style="background: url({{project.img3.url}}); background-position: center;" data-scrollax=" properties: { translateY: '-20%'}"></a>
            <div class="text order-1">
              <h4 class="subheading">Удобство использования</h4>
              <p>{{project.description3}}</p>
            </div>
          </div>
          <div class="col d-md-flex ftco-animate justify-content-center mt-5" data-scrollax-parent="true">
            <div class="text order-1 text-center">
              <h2 class="heading">Лучше один раз увидеть</h2>
              <p>Кликните по кнопке и посмотрите вебсайт полностью</p>
              <p><a href="{{ project.link }}" target="_blank" class="btn btn-primary py-3 px-4">Перейти на сайт</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    {% endblock content%}